<main>
  <div class="main1" [ngStyle]="{ display: flag ? 'none' : 'flex' }">
    <div class="member-input-box">
      <div class="input-box">
        <input class="member-input" #NewMember placeholder="enter name" />
      </div>
      <div class="buttons">
        <div
          class="member-add-button-box"
          (click)="this.addMember(NewMember.value)"
        >
          add member
        </div>
        <div class="member-clear-button-box" (click)="this.hideContent()">
          spin
        </div>
      </div>
    </div>
    <div class="member-box">
      <div class="member-body" *ngFor="let member of this.members">
        {{ member.name }}
      </div>
    </div>
  </div>
  <div class="main2" [ngStyle]="{ display: flag ? 'flex' : 'none' }">
    <div
      class="member-body"
      *ngFor="let member of this.members; index as i"
      [ngStyle]="getElementsStyle(i)"
    >
      {{ member.name }}
    </div>
  </div>
</main>
